@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

$primary: #a7dcf5;
$secondary: #46b3e5;
$tert: #3383a8;
$white: #fff;
$off-white: #f5f9fa;
$black: #292b2d;
$danger: #e54e6b;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Vertical Navbar
.navbar {
  z-index: 99999;
  position: fixed;
  width: 70px;
  height: 100%;

  background-color: $white;
  border-right: 2px solid $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-upper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;

    &-logo {
      height: 75px;
      padding-top: 0.5rem;
      justify-content: center;
      display: flex;
      img {
        display: flex;
        width: 55px;
        flex-direction: column;
        align-self: flex-start;
      }
    }

    &-arrow {
      height: 15px;
      width: 118%;
      position: relative;
      svg {
        cursor: pointer;
        position: absolute;
        right: 0;
        background-color: $white;
        height: 15px;
        width: 15px;
        border-radius: 10px;
        padding: 2px;
        border: 1px solid $primary;
      }
    }

    &-item {
      line-height: 1rem;
      padding-left: 16px;

      p {
        display: none;
        font-size: 18px;
        font-weight: lighter;
        color: $black;
      }
    }
  }

  &-lower {
    padding-left: 16px;
    padding-bottom: 1rem;
  }
}

.navbar-opened {
  width: 250px;

  .navbar-upper {
    align-items: flex-start;
    &-logo {
      padding-left: 16px;
      img {
        width: 173px;
        height: 68px;
      }
    }

    &-item {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;

      p {
        display: block;
      }
    }

    &-arrow {
      width: 105%;
    }
  }

  .navbar-lower {
    p {
      font-size: 16px;
      font-weight: 600;
      color: $secondary;
    }

    a {
      font-size: 14px;
      font-weight: lighter;
      color: $tert;
    }

    span {
      color: $black;
    }
  }
}

// Dashboard
.dashboard {
  display: flex;
  flex-direction: column;

  // Header
  &-header {
    width: 100%;
    height: 115px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      h1 {
        font-size: 30px;
        font-weight: bold;
        color: $secondary;
        line-height: 1rem;
      }

      h2 {
        color: $black;
        font-size: 16px;
        font-weight: lighter;
        padding-top: 5px;
      }
    }

    &-search {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 20px;

      .search {
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 40px;
        width: 282px;

        input {
          flex: 1;
          border: 1px #a0a0a0 solid;
          padding: 0.5rem 1rem;

          &::placeholder {
            font-weight: lighter;
            color: $black;
            font-size: 16px;
          }
        }
      }

      a {
        font-weight: lighter;
        color: $secondary;
        font-size: 14px;
      }
    }
  }

  // Favorites
  &-section {
    padding: 20px 20px 20px 90px;
    background-color: $off-white;
    min-height: 391px;
    width: 100%;

    &-title {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;

        h3 {
          color: $secondary;
          font-size: 20px;
          font-weight: 600;
          padding-left: 0.2rem;
          padding-right: 1rem;
        }

        p {
          color: $tert;
          font-size: 14px;
          font-weight: lighter;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .card-arrows {
        gap: 5px;

        button {
          background-color: $tert;
          border: none;
          cursor: pointer;
          svg {
            width: 25px;
            height: 25px;
            padding: 2px;
          }
        }
      }
    }

    &-card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-top: 1rem;

      gap: 1rem;

      .card {
        box-sizing: border-box;
        padding: 1rem;
        min-width: 320px;
        min-height: 293px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        &-edit-actions {
          display: flex;
          flex-direction: row-reverse;
          gap: 2rem;
          padding: 0.5rem;
          z-index: 1;
          position: absolute;
          right: 0;
          top: 0;
          background-color: $white;
          box-shadow: 0 0 5px #292b2d43;

          svg {
            cursor: pointer;
          }

          p {
            cursor: pointer;
            font-size: 12px;
            font-weight: lighter;
            color: $tert;
            line-height: 20px;
          }
        }

        &-title {
          border-bottom: 1px solid $tert;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          padding-bottom: 0.5rem;
          h5 {
            line-height: 1rem;
            font-size: 16px;
            font-weight: 600;
            color: $black;
          }

          svg {
            cursor: pointer;
          }
        }

        &-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          padding-top: 0.5rem;
          .header {
            display: flex;
            gap: 0.8rem;

            div {
              background-color: $tert;
              width: 40px;
              height: 20px;
              padding-left: 5px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              color: $white;
              line-height: 0.5rem;
              gap: 0.5rem;
            }

            h6 {
              font-size: 14px;
              color: $tert;
              font-weight: 600;
            }
          }

          .title,
          .website,
          .date {
            font-size: 14px;
            font-weight: lighter;
            color: $black;
          }
        }
        footer {
          background-color: #f5f9fa;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          p {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: $tert;
            line-height: 1rem;
          }
        }
      }
    }
  }
}

@keyframes slideLeft {
  from {
    left: 0;
  }

  to {
    right: 0;
  }
}
